<form>
	<div class="ngdialog-message input-dialog" ng-controller="AppCtrl">
	<form>
		<td><input class="form-control" placeholder="name" ng-model="item.name"></td>
		<td><input class="form-control" placeholder="qty" ng-model="item.qty"></td>
		<td><input class="form-control" placeholder="price" ng-model="item.price"></td>
		<td ng-model="item"> Subtotal: {{item.qty * item.price || 0}}</td>
	</form>
</div>

<div class="form-group">
    <div>
      <select id="selectcategory" name="selectcategory" class="form-control" ng-model="item.category">
        <option value="none">category</option>
        <option value="meat">meat</option>
        <option value="produce">produce</option>
        <option value="frozen">frozen</option>
        <option value="beverages">beverages</option>
        <option value="dryandcanned">dryandcanned</option>
        <option value="personal">personal</option>
        <option value="home">home</option>
        <option value="pets">pets</option>
        <option value="bakery">bakery</option>
      </select>
    </div>
</div>

<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('Cancel')">Cancel</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="addItem(item)">Save</button> <!-- confirm('Save') -->
</div>
</form>