<table class="table main-table">
	<tr>
		<th>item</th>
		<th>last price</th>
		<th colspan="3">&#8988 actions &#8989</th>
	</tr>
	<tr item ng-repeat="item in items | orderBy: ['category','price * qty'] " ng-class="item.category || 'none'" ng-show="hideCart || !inCart(item)"></tr>
	<tr>
		<td colspan="6" ng-click="inputDialog()">
			<button class="btn btn-block">add item</button>
		</td>
	</tr>
</table>

<div>
  <script type="text/ng-template" id="alert.html">
    <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
      <div ng-transclude></div>
    </div>
  </script>
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
</div>