<td ng-show="!dialog" class="crossout" ng-click="crossout()">&#x02A00</td>
<td ng-click="editDialog(item)">{{item.name || item}}</td>
<td ng-click="editDialog(item)">{{item.qty * item.price | currency}}</td>
<!-- actions -->
<td ng-show="$state.includes('items')" ng-click="deleteItem(item._id)" class="action">&#x02A2F</td>
<td ng-show="$state.includes('list') && !dialog" ng-click="removeItemFromList(item)" class="action">-</td>
<td ng-show="$state.includes('items') || dialog" ng-click="addToList(item)" class="action">+</td>