<td class="crossout" ng-click="crossout()">&#x02A00</td>
<td ng-click="editDialog(item)">{{item.name || item}}</td>
<!-- <td>{{item.qty}}</td>
<td>{{item.price}}</td> -->
<td>{{item.qty * item.price | currency}}</td>
<td ng-click="deleteItem(item._id)">&#x02A2F</td>
<td ng-click="removeItem(item)">-</td>
<td ng-click="addToList(item)">+</td>
<!-- <td ng-click="deleteItem(item._id)">&#x02A2F</td> -->
<td ng-click="hide()">-</td>
<!-- <td ng-click="alert('farts')">></td> -->
<!-- <td><button class="btn btn-warning" ng-click="inputDialog(item)">edit</button></td> -->
<!-- <td><button class="btn btn-success" ng-click="purchaseItem(item)">$</button></td> -->