<h3 class="list-header">{{ list.name }}</h3>

<table class="table main-table">
	<tr>
		<th ng-click="nextMode()"> <i class="fa fa-eye"></i> {{ viewMode[currentMode] }}</th>
		<th>item</th>
		<th>subtotal</th>
		<th colspan="3">&#8988 actions &#8989</th>
	</tr>
	<tr item ng-repeat="item in list.items | orderBy: ['category','price * qty']" ng-class="item.category || 'none'" ng-show="mode(item)"></tr>
	<tr>
		<td colspan="1">list total:<br>{{ listTotal(list) | currency}}</td>
		<td colspan="1">cart total:<br>{{ listTotal(cart) | currency}}</td>
		<td colspan="1">remaining:<br>{{ listTotal(list) - listTotal(cart) | currency }}</td>
		<td colspan="3"></td>
	</tr>
	<tr>
		<td colspan="6" ng-click="inputDialog()">
			<button class="btn btn-block">add item</button>
		</td>
	</tr>
</table>

<div>
  <script type="text/ng-template" id="alert.html">
    <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
      <div ng-transclude></div>
    </div>
  </script>
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
</div>