<div>
  <script type="text/ng-template" id="alert.html">
    <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
      <div ng-transclude></div>
    </div>
  </script>

  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
</div>

<table class="table">
	<thead>
		<tr>
			<th>name</th>
			<th>qty</th>
			<th>unit price</th>
			<th>subtotal</th>
			<th>action</th>
			<th>&nbsp</th>
		</tr>

		<tr>
			<form>
			<td><input class="form-control" placeholder="name" ng-model="item.name"></td>
			<td><input class="form-control" placeholder="qty" ng-model="item.qty"></td>
			<td><input class="form-control" placeholder="price" ng-model="item.price"></td>
			<td ng-model="item">{{item.qty * item.price || 0}}</td>
			<td><button class="btn btn-primary" ng-click="addItem()" type="submit" id="submit">add</button></td>
			<td><button class="btn btn-info" ng-click="updateItem()">edit</button></td>
			</form>
		</tr>

		<tr ng-repeat="item in list">
			<td>{{item.name}}</td>
			<td>{{item.qty}}</td>
			<td>{{item.price}}</td>
			<td>{{item.qty * item.price}}</td>
			<td><button class="btn btn-danger" ng-click="deleteItem(item._id)">del</button></td>
			<td><button class="btn btn-warning" ng-click="editItem(item)">edit</button></td>
		</tr>
	</thead>
</table>